html {
    font-family: Arial, Helvetica, sans-serif;
}

body
{
    margin: 0px;
}

a {
    text-decoration: none;
    color: white;
}

.wrapper {
    display: flex;
    flex-direction: column;
    
}

.queueNote {
    display: flex;
    flex-direction: column;
    text-align: center;
    vertical-align: middle;
    font-size: 40px;
}
header {
    background: linear-gradient(black,#d39d30);
    color: white;
    text-align: center;
    vertical-align: middle;
}
.nav {
    width: 100%;
    height: 80px;
    background-color: #d39d30;
}

.nav > ul > li {
    font-size: 20px;
    display: inline-block;
    margin-right: 20px;
    background-color: maroon;
    padding: 10px;
    border-radius: 5px;
    border: black 1px solid;
}

.nav > ul > li:hover {
    background-color: rgb(124, 33, 33);
    padding: 9px;
    border: rgb(255, 255, 255) 2px solid;
}

.nav > ul {
    display: inline-block;
    vertical-align: middle;
}

.navButtons
{
    margin-right: auto;
}


.QP {
    position: relative;
    width: 50%;
}
.QP img {
    width: 200%;
    height: auto;
}
.QP button {
    position: absolute;
  top: 69.5%;
  left: 95.5%;
  transform: translate(-50%, -50%);
  background-color: black;
  color: #FFAA00;
  font-size: 40px;
  padding: 3px 7px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.QP button:hover {
    background-color: #353535;
}
.number {
    position: relative;
    width: 100%;
    font-size: 100px;
    margin-top: 200px;
}
.queueNote p {
    margin-block: 0;
}

.authFields {
    position: absolute;
    right: 30px;
}

.verticalFormElements {
    list-style: none;
    padding: 0px;
}

.authContainer {
    color: white;
    text-align: center;
    height: auto;
    width: 300px;
    border: rgb(0, 0, 0) 2px solid;
    border-radius: 10px;
    margin: auto;
    margin-top: 12%;
    margin-bottom: 12%;
    background: linear-gradient( #000000 ,rgb(190, 40, 40),#f19010);
}

.loginForm > ul > li {
    margin-bottom: 15px;
}

input[type='text'],input[type='password'] {
    height: 30px;
}

button, input[type='submit'] {
    color: black;
    border:#381d1d 1px double;
    border-style:double;
    border-radius: 5px;
}

button > a {
    color: black;
}

input[type='submit'] {
    margin-right: 10px;
}