html {
    font-family: Arial, Helvetica, sans-serif;
}

body
{
    margin: 0px;
}

a {
    text-decoration: none;
    color: white;
}

footer {
    flex-shrink: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.queueNote {
    display: flex;
    flex-direction: column;
    text-align: center;
    vertical-align: middle;
    font-size: 40px;
}
header {
    background: linear-gradient(rgb(255, 255, 255),#ffffff);
    color: rgb(255, 255, 255);
    height: 0px;
    text-align: center;
    vertical-align: middle;
}
.nav {
    width: 100%;
    height: 130px;
    background-color: #d8d8d8;
}

.nav > ul > li {
    font-size: 20px;
    display: inline-block;
    margin-right: 20px;
    background-color: rgba(83, 141, 91, 0);
    padding: 10px;
}

.nav > ul > li:hover {
    background-color: rgb(124, 33, 33);
    padding: 9px;
}

.nav > ul {
    display: inline-block;
    vertical-align: middle;
}

.navButtons
{
    margin-right: auto;
}


.QP {
    position: relative;
    width: 50%;
}
.QP video {
    display: block;
    margin: auto;
}
.QP button {
    position: absolute;
  top: 69.5%;
  left: 95.5%;
  transform: translate(-50%, -50%);
  background-color: black;
  color: #FFAA00;
  font-size: 40px;
  padding: 3px 7px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.QP button:hover {
    background-color: #353535;
}
.number {
    position: relative;
    width: 100%;
    font-size: 100px;
    margin-top: 200px;
}
.queueNote p {
    margin-block: 0;
}

.authFields {
    position: absolute;
    right: 30px;
}

.verticalFormElements {
    list-style: none;
    padding: 0px;
}

.authContainer {
    color: white;
    text-align: center;
    height: auto;
    width: 300px;
    border: rgb(0, 0, 0) 2px solid;
    border-radius: 10px;
    margin: auto;
    margin-top: 12%;
    margin-bottom: 12%;
    background: linear-gradient( #000000 ,rgb(190, 40, 40),#f19010);
}

.loginForm > ul > li {
    margin-bottom: 15px;
}

input[type='text'],input[type='password'] {
    height: 30px;
}

button, input[type='submit'] {
    color: rgb(255, 255, 255);
    border:#381d1d 1px double;
    border-style:double;
    border-radius: 5px;
}

button > a {
    color: #d8d8d8;
}

input[type='submit'] {
    margin-right: 10px;
}

.queueNode {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    font-size: 30px;
    background-color: #d8d8d8;
    border-radius: 5px;
    border: rgb(255, 255, 255) 1px solid;
    margin: 15px;
    }
    .queueNode p {
    margin: 0.5em;
    }
    #queue_main_cont {
    display: grid;
    grid-template-columns: 18em 18em 18em 18em;
    justify-content: center;
    }

    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    
    .buttons {
        margin: 10%;
        text-align: center;
    }
    
    .btn-hover {
        width: 200px;
        font-size: 16px;
        font-weight: 600;
        color: #fff;
        cursor: pointer;
        margin: 20px;
        height: 55px;
        text-align:center;
        border: none;
        background-size: 300% 100%;
    
        border-radius: 50px;
        moz-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }
    
    .btn-hover:hover {
        background-position: 100% 0;
        moz-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }
    
    .btn-hover:focus {
        outline: none;
    }
    
    .btn-hover.color-1 {
        background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
        box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
    }
    .btn-hover.color-2 {
        background-image: linear-gradient(to right, #f5ce62, #e43603, #fa7199, #e85a19);
        box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
    }
    .btn-hover.color-3 {
        background-image: linear-gradient(to right, #667eea, #764ba2, #6B8DD6, #8E37D7);
        box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
    }
    .btn-hover.color-4 {
        background-image: linear-gradient(to right, #fc6076, #ff9a44, #ef9d43, #e75516);
        box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75);
    }
    .btn-hover.color-5 {
        background-image: linear-gradient(to right, #0ba360, #3cba92, #30dd8a, #2bb673);
        box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
    }
    .btn-hover.color-6 {
        background-image: linear-gradient(to right, #009245, #FCEE21, #00A8C5, #D9E021);
        box-shadow: 0 4px 15px 0 rgba(83, 176, 57, 0.75);
    }
    .btn-hover.color-7 {
        background-image: linear-gradient(to right, #6253e1, #852D91, #A3A1FF, #F24645);
        box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
    }
    .btn-hover.color-8 {
        color: #FFFFFF;
        font-family: "Gill Sans", sans-serif;
        font-size: 22px;
        font-weight: 100;
        background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
        box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75)
    }
    .btn-hover.color-9 {
        background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
        box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
    }
    .btn-hover.color-10 {
            background-image: linear-gradient(to right, #ed6ea0, #ec8c69, #f7186a , #FBB03B);
        box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
    }
    .btn-hover.color-11 {
           background-image: linear-gradient(to right, #eb3941, #f15e64, #e14e53, #e2373f);  box-shadow: 0 5px 15px rgba(242, 97, 103, .4);
    }
    #hellopreloader p {
        display:none;
    }
    #hellopreloader_preload{
        display: block;
        position: fixed;
        z-index: 99999;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        min-width: 1000px;
        background: #96281B url(http://hello-site.ru//main/images/preloads/oval.svg) center center no-repeat;
        background-size:41px;
    }
